.message {
    margin: 10px;
    padding: 10px 15px;
    max-width: 60%;
    border-radius: 19px;
    color: white;
    font-size: 14px;
    word-wrap: break-word;
}
.user {
    background-color: #007bff;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}
.bot {
    background-color: #28a745;
    align-self: flex-start;
    border-bottom-left-radius: 0;
}
#messageForm {
    margin-top: 10px;
}
#message {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #070D59;
}
#send {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #070D59;
}
